* {
  margin: auto;
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
}

.listaHeader {
  display: flex;
  font-size: 22px;
  cursor: pointer;
}

body {
  padding: 10px;
  background-color: #212529;
  font-family: "Poppins";
  color: white;
  justify-content: center;
}

li {
  display: inline;
  list-style-type: none;
  margin: 10px;
}

a {
  text-decoration: none;
  color: white;
}

#pAExpe {
  text-decoration: none;
  color: orange;
}

/* a:visited, 
a:link {
  color: white;
}  */

a:hover {
  color: #ffb742;
}

body button {
  margin: 10px;
  font-weight: bold;
  border-radius: 20px;
  border-style: none;
  width: 100px;
  height: 40px;
  background-color: #ffb742;
  font-family: "Poppins";
  font-size: 10px;
  color: #212529;
}

.cajaMediana {
  background-color: #292b2e;
  text-align: center;
  height: 90px;
  width: 1000px;
  margin: 24px;
  border-radius: 15px;
}

main {
  font-family: "Inter";
  text-align: center;
  margin: 30px 10px;
}

h1,
h2 {
  margin: 20px;;
}

.Mifoto {
  height: 170px;
  width: 140px;
  left: nullpx;
  top: nullpx;
  margin: 20px;
  border-radius: 50%;
  left: calc(50% - 166px / 2);
  top: calc(50% - 160px / 2 - 0.36px);
}

.imaLogo {
  background-color: white;
  border-radius: 50%;
  float: left;
  height: 60px;
  width: 60px;
}

.anos {
  color: #ffb742;
  padding-left: 170px;
  font-size: 27px;
  text-align: center;
  display: flex;
  font-family: "Poppins";
  font-weight: bold;
  vertical-align: middle;
}

section {
  display: flex;
  justify-content: space-between;
  margin: 120px;
}

h2 {
  font-size: 32px;
}

#miNombreAmarillo {
  color: #ffb742;
}

h1 {
  font-size: 36px;
}

footer {
  display: flex;
  background-color: #1c1c1c;
  text-align: center;
  justify-content: space-between;
}

footer div ul {
  flex-direction: column;
}

footer li {
  margin: 2px;
  cursor: pointer;
}

.enBloque {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  padding-left: 0px;
  margin-left: 0%;
}

#miNombreAmarilloAbajo {
  color: #ffb742;
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  padding-bottom: 20px;
}

.TitulosAbajo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  padding-left: 35px;
  color: white;
}

.tituloHire {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  padding-right: 400px;
  margin-right: 100px;
}

.form {
  border-radius: 30px;
  border: 0px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  background-color: #292b2e;
  border-color: none;
}

.send {
  height: 50px;
  width: 50px;
  border-radius: 48px;
  background-color: #ffb742;
  flex-direction: row;
}

.mainAbout {
  display: flex;
  font-family: "Inter";
  text-align: left;
  margin: 80px 30px;
  justify-content: space-between;
}

.sectionAbout {
  display: block;
  height: 140px;
  width: 1500px;
  margin: 0px 5px 0px 5px;
  justify-content: space-between;
}

p {
  font-family: "Poppins";
  text-align: justify;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  margin-left: 2%;
  margin-right: 35%;
}

.MifotoAbout {
  height: 270px;
  width: 340px;
  margin: 0px 100px;
}

.titleAbout {
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffb742;
  font-family: "Poppins";
  font-style: bold;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 6px 25px;
  gap: 10px;
  position: absolute;
  width: 148px;
  height: 42px;
  left: 540px;
  top: 100px;
}

.titleExpe {
  border-radius: 50px;
  color: #ffb742;
  font-family: "Poppins";
  font-style: bold;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 10px 5px;
  width: 141px;
  height: 30px;
  margin-left: 900px;
  margin-bottom: 50px;
  align-items: center;
}

.titleCont{
    border-radius: 50px;
    color: #ffb742;
    font-family: "Poppins";
    font-style: bold;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 10px 5px;
    width: 141px;
    height: 30px;
    margin-left: 220px;
    margin-bottom: 50px;
    align-items: center;
}


#mainExpe {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px 10px;
}

#box {
  display: flex;
  justify-content: space-between;
  margin: 0%;
}

.box2{
  text-align: center;
}

.small-box {
  width: 570px;
  height: 450px;
  border-radius: 10px;
  background-color: white;
  color: black;
  margin: 10px;
}

.flex-smallbox {
  display: flex;

}

.logoExpe{
  width: 100px;
  height: 70px;
  margin: 0%;
  padding-left: 200px;
}
.divExpe {
  display: flex;
  justify-content: space-between;
}

.titlEpExpe{
  color: black;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: bold;
  text-align: justify;
  margin: 0%;
  padding: 20px;
}

.pExpe{
  color: black;
  font-family: "Poppins";
  font-size: 20px;
  text-align: justify;
  margin: 0%;
  padding: 1%;
}

.sendContact{
  font-size: 20px;
}

.Inputcon {
  border-right: 0px;
  border-bottom-color: white;
  background-color: #292b2e;
  color: white;
  text-align: left;
  font-family: "Poppins";
  font-style: bold;
  font-size: 40px;
  line-height: 36px;
  margin-right: 25%;
  border-left-style: none;
  border-top-style: none;
}

input::placeholder{
color: white;
}

footer input::placeholder{
  color: white;
  padding-left: 50px;
  }

#inputFoot {
  padding: 0%;
  margin: 0%;
  border: 0px;
  width: 400px;
  height: 60px;
}

#buttonFoot {
  padding: 0%;
  margin-right: 120px;
}

#letraBlanca{
  color: white;
}

#contacto {
  color: #ffb742;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.08);
  display: inline-block;
  margin: 0px;
  padding-top: 10px;
  width: 250px;
  height: 50px;
  font-size: 30px;
}

.formulario {
  background-color: none;
  margin: auto;
  width: 90%;
  max-width: 600px;
  padding: 0px;
  border-radius: 10px;
  text-align: center;
}

.sectionChiste {
  background-color: #ffffff;
  color: #212529;
  border-radius: 5px;
  height: 100px;
  width: 450px;
  padding: 15px;
  margin: 35px;
}

.pChiste{
  font-weight: 30px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 30px;
}
.unomas{
  background-color: #ffb742;
  color: black;
  font-size: 15px;
  border-radius: 15px;
  font-style:initial;
  margin-bottom: 50px;
}

#casillas {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#name {
  width: 510px;
  height: 80px;
  background-color: #212529;
  color: white;
  font-size: 30px;
  border: none;
  border-bottom: 1px solid #676767;
  outline: none;

}

#email {
  width: 510px;
  height: 80px;
  background-color: #212529;
  color: white;
  font-size: 30px;
  border: none;
  border-bottom: 1px solid #676767;
  outline: none;
}

#phone {
  width: 510px;
  height: 80px;
  background-color: #212529;
  color: white;
  font-size: 30px;
  border: none;
  border-bottom: 1px solid #676767;
  outline: none;
}
/* estilos light mode */

.bodyLight {
  padding: 10px;
  background-color: white;
  font-family: "Poppins";
  color: black;
  justify-content: center;
}

.titlesLight{
  color: white;
}

.change-mode-small-box{
  width: 570px;
  height: 450px;
  border-radius: 10px;
  background-color:#212529;
  color: white;
  margin: 10px;
}

.change-mode-linksNav{
  text-decoration: none;
  color: black;
}

.change-mode-a{
    text-decoration: none;
    color: black;
}

.titleALight{
  background-color: gray;
}

.change-mode-casillas{
  background-color: white;
  color: black;
}

.change-mode-titlEpExpe{
  color:  white;
}

.change-logo{
  src: url("./img/WWCode_Medellin_White 1.png") ;
}